.main-btn {
    background-color: #1db954; /*Initial color of the button*/
    top: 25rem;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); /*This is the box shadow property. Increase the alpha value to make the shadow more dark*/
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative; /*We set the position of the button as relative so as to set it's value to absolute later on after we hover the cursor over the button*/
    overflow: hidden; /*Set overflow to hidden to restrict the flow of the ripple inside the button*/
}

.main-btn span {
    position: relative;
    z-index: 1; /*By default z-index is 0. But we set it to 1, so that the button text "BUTTON" doesn't get covered up by the ripple effect*/
}

.main-btn::before {
    content: "";
    position: absolute; /*To set the position to absolute, we need to make the parent relative, which we have explained earlier (line 19)*/
    background-color: darkgreen; /*Ripple color on cursor hover*/
    width: 0;
    height: 0;
    /*The left and top variables are picked by the JavaScript to make the ripple appear from the area we hover our cursor*/
    left: var(--xCoord);
    top: var(--yCoord);
    transform: translate(-50%, -50%); /*Start the ripple effect from the center*/
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;  /*Animation time (time to cover width of button | time to cover width of button)*/
}

.main-btn:hover::before {
    /*Intensity of the ripple*/
    width: 300px;
    height: 300px;
}